<p>cart works!</p>
<!-- <div class="row" style="max-width: 50%;margin: auto;">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products[0]">
                    <th>{{product.name}}</th>
                    <th scope="col">{{product.price}}</th>
                    <th scope="col">{{product.quantity}}</th>
                    <th scope="col">{{product.price * product.quantity}}</th>
                    <button mat-raised-button color="warn" (click)="remove_item(product)">remove</button>
                </tr>
            </tbody>
        </table>
    </div>


</div> -->

angular table shit

<table mat-table [dataSource]="products[0]" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
        <td mat-footer-cell *matFooterCellDef> test </td>
    </ng-container>

    <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let product">{{product.quantity}} </td>
        <td mat-footer-cell *matFooterCellDef></td>

    </ng-container>
    <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Effective price </th>
        <td mat-cell *matCellDef="let product"> {{product.price * product.quantity}} </td>
        <td mat-footer-cell *matFooterCellDef>{{total}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let product"><button mat-raised-button color="warn" (click)="remove_item(product)">remove</button> </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-tab-group style="width: 70% !important;">
        <mat-tab label="Adress">
            <form class="example-form">
                        
                      
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="First name">
                          </mat-form-field></td>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="Long Last Name That Will Be Truncated">
                          </mat-form-field></td>
                        </tr></table>
                      
                        <p>
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Address 2"></textarea>
                          </mat-form-field>
                        </p>
                      
                        <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="City">
                          </mat-form-field></td>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="State">
                          </mat-form-field></td>
                          <td><mat-form-field class="example-full-width">
                            <input matInput #postalCode maxlength="6" placeholder="Postal Code" value="94043">
                            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                          </mat-form-field></td>
                        </tr></table>
                      </form>
            

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </mat-tab>
        <mat-tab label="Payment"> Content 2 </mat-tab>
        <mat-tab label="Confirmation"> Content 3 </mat-tab>
</mat-tab-group>

