table {
    width: 70%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }