.menu-item {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.center {
    margin: auto;
    // width: 50%;
    // padding: 10px; 
    text-align: center;
    justify-self: center;
    justify-items: center;
    }