<app-header></app-header>
<ng-sidebar-container style="height: 100vh !important;margin-top: 80px !important;">
    <ng-sidebar [(opened)]="_opened" [mode]="push" [dock]="dock" [dockedSize]="'50px'">
        <div style="display: flex; flex-direction: column;height: 100% !important;width: 300px">
            <div style="flex: 1;align-items: center;vertical-align: middle">
                    <button mat-button class="sidenav_button" routerLink="/products" routerLinkActive="active">products</button>

            </div>
            <div style="flex: 1">
                    <button routerLink="/userauth" routerLinkActive="active" mat-button class="sidenav_button">login/signup</button>
            </div>
            <div style="flex: 1">
                    <button mat-button class="sidenav_button"  routerLink="/cart" routerLinkActive="active">kart</button>
            </div>
           
            
            
            
           
            


        </div>

    </ng-sidebar>
    <div ng-sidebar-content>
        <button (click)="_toggleSidebar()">Toggle sidebar</button>
        <router-outlet></router-outlet>
       

    </div>


</ng-sidebar-container>




